#form-container {
  margin-top: 3rem;
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.1);
}

#form {
  width: 100%;
}

#form-text-area {
  width: 100%;
}

#form-bottom-div {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

#form-processed-data {
  margin-left: 1rem;
}

#list-container {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

#list-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 6rem;
  margin: 1rem;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.1);
}

.word-on-list {
  display: flex;
  justify-content: center;
}
